---
import { Icon } from 'astro-icon/components'
---

<div class="h-12 w-full bg-gray-700 fixed top-0 left-0 flex items-center justify-between p-4">
    <div class="flex items-center gap-2">
        <Icon name="mdi:brain" class="text-3xl"/>
        <span>Cerebral</span>
    </div>
    <div>
        <a href="https://github.com/Justin-Arnold/cerebral">
            <Icon name="jam:github" class="text-3xl cursor-pointer" />
        </a>
    </div>
</div>